
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: $background-light;
    .container__left {
        @include size(45%, 100svh);
        padding: 20px 0 1% 1%;
        display: block;
        background: $background-light;
    }
    .container__right {
        position: absolute;
        right: 0;
        transition: .5s;
        z-index: 5;
    }
    .container__right-active {
        padding-top: 20px;
        right: -45%;
    }
    .container__left-active {
        z-index: 5;
    }
}

.container-active {
    overflow-y: hidden;
    overflow-x: hidden;
}

.container__menu {
    @include size(100%, 100%);
    padding: 20px 15px 15px 10px;
    overflow-y: scroll;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .enter-regist {
        
        .enter-regist__button {
            font-size: 22px;
            font-weight: 300;
            color: $color-gray;
            cursor: pointer;
        }
    }

    .search-info {
        .search-info__block {
            position: relative;
            padding: 14px 0;
            width: 42svw;
            gap: 5px;
            display: flex;
            align-items: center;
            border-radius: 12px;
            background: $background-light;
            .search-info__icon {
                padding-left: 2px;
            }
            .search-info__input {
                width: 100%;
                height: 30px;
                font-size: 16px;
                background: $background-light;
            }
            .search-info__button {
                position: absolute;
                right: 0;
                height: 100%;
                padding: 22px 3px;
                font-size: 16px;
                border-radius: 0 12px 12px 0;
                color: #fff;
                background: $color-peach;
                cursor: pointer;
            }
        }
    }
    .filters__menu {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 15px;
        .filters__genres {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            .genres__title {
                padding: 5px 0;
                font-size: 20px;
                text-align: center;
                color: $color-gray;
            }
            .genres__block {
                height: 195px;
                overflow: hidden;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                row-gap: 7px;
                label {
                    display: flex;
                    align-items: center;
                    color: $color-gray;
                    cursor: pointer;
                }
                .real-checkbox {
                    @include size(0, 0);
                    opacity: 0;
                    z-index: -1;
                }
                .custom-checkbox {
                    min-width: 18px;
                    min-height: 18px;
                    position: relative;
                    margin-right: 7px;
                    border: 2px solid #7e9bbd;
                    border-radius: 4px;
                    vertical-align: sub;
                }
                .custom-checkbox::before {
                    content: '';
                    @include size(18px, 18px);
                    min-width: 18px;
                    min-height: 18px;
                    background: url('/img/icon-check.png') no-repeat;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    transition: .3s;
                }
                .real-checkbox:checked+.custom-checkbox::before {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }

    .info {
        span {
            font-size: 18px;
            color: $color-black;
        }
        p {
            font-family: "Mabry Pro", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $color-gray;
        }
    }
}

.neader {
    position: relative;
    justify-content: start;
    .header__logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    .header__btn-menu{
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        .menu__icon {
            width: 30px;
            height: 20px;
            position: relative;
            cursor: pointer;
            div {
                width: 100%;
                height: 3px;
                background-color: $background-peach;
                position: absolute;
                transition: 0.3s;
            }
            .bar2 {
                top: 50%;
                transform: translateY(-50%);
            }
            .bar3 {
                bottom: 0;
            }
        }
        .menu__icon.open .bar1 {
            transform: rotate(-45deg) translate(-6px, 6px);
        }
        
        .menu__icon.open .bar2 {
            opacity: 0;
        }
        
        .menu__icon.open .bar3 {
            transform: rotate(45deg) translate(-6px, -6px);
        }
    }
    .header__search-info, .header__enter-regist {
        display: none;
    }
}

.content {
    .filters__menu {
        display: none;
    }
}